# ===========================
# 🌐 SERVER CONFIGURATION
# ===========================

# Host and Port for aiohttp server
HOST=0.0.0.0
PORT=8080

# Enable debug mode (True/False) empty for false disabled
DEBUG=

# Number of items to show per page
RESULTS_PER_PAGE=20

# If True, block downloads (used for restricted mode)
BLOCK_DOWNLOADS=False


# ===========================
# 🤖 TELEGRAM CONFIGURATION
# ===========================

# Your Telegram API credentials from https://my.telegram.org/apps
API_ID=25249461
API_HASH=8ab7c140d49ede1cb5ab64de710f4015

# Telethon session string (to authenticate your client)
SESSION_STRING=

# JSON string for index settings value (must stay on one line, valid JSON)
INDEX_SETTINGS={"index_all": false, "index_private": false, "index_group": false, "index_channel": true, "exclude_chats": [], "include_chats": [-1001747208640, -1001845713079, -1001741544099, -1001939775662, -1001936436892, -1001973180914, -1002187269253, -1001912415819, -1002223458192, -1001827611988, -1002214625812, -1001850600075]}


# ===========================
# ⚙️ File SEND-BOT / TELEGRAM BOT SETTINGS
# ===========================

# Bot token
TOKEN=


# ===========================
# 🔐 AUTHENTICATION
# ===========================

# Optional username & password for admin or restricted access
TGINDEX_USERNAME=
TGINDEX_PASSWORD=

# Session cookie lifetime (in minutes)
SESSION_COOKIE_LIFETIME=60

# 32-character random secret key (for cookies/encryption)
SECRET_KEY=niH)Y!B_8>25[_+.]yxJ<?G4D4<P[umZ


# Chat Lock Configuration (SECRET_KEY required for both main and chat lock authentication if enabled)
CHAT_LOCK_ENABLED=true

# use channel id either with -100 or without it.
CHANNEL_PASSWORDS='{"1827611988": "trailer123", "-1000987654321": "series456"}'

# Session cookie lifetime (in minutes)
CHAT_LOCK_SESSION_LIFETIME=30


# ===========================
# 🛃 TOKEN VALIDATION FOR DOWNLOAD & STREAM ENDPOINT
# ===========================

# Enable/disable (default: true)
TOKEN_VALIDATION_ENABLED=true

# Token lifetime in seconds (default: 3600 = 60 minutes/1 hour)
TOKEN_LIFETIME=3600


# ===========================
# 🧩 OTHER CONFIGURATION
# ===========================

# Short URL length for generated links (alias id)
SHORT_URL_LEN=3
