# ===========================
# 🌐 SERVER CONFIGURATION
# ===========================

# Host and Port for aiohttp server
HOST=0.0.0.0
PORT=8080

# Enable debug mode (True/False) empty for false disabled
DEBUG=

# Number of items to show per page
RESULTS_PER_PAGE=20

# If True, block downloads (used for restricted mode)
BLOCK_DOWNLOADS=False


# ===========================
# 🤖 TELEGRAM CONFIGURATION
# ===========================

# Your Telegram API credentials from https://my.telegram.org/apps
API_ID=xxxxxx
API_HASH=xxxxxxxx

# Telethon session string (to authenticate your client)
SESSION_STRING=xxxxxxxxxxxx

# JSON string for index settings value (must stay on one line, valid JSON)
INDEX_SETTINGS={"index_all": false, "index_private": false, "index_group": false, "index_channel": true, "exclude_chats": [], "include_chats": [-100xxxxxxxx, -100xxxxxxx]}


# ===========================
# 🔐 AUTHENTICATION
# ===========================

# Optional username & password for admin or restricted access
TGINDEX_USERNAME=
TGINDEX_PASSWORD=

# Session cookie lifetime (in minutes)
SESSION_COOKIE_LIFETIME=60

# 32-character random secret key (for cookies/encryption)
SECRET_KEY=niH)Y!B_8>25[_+.]yxJ<?G4D4<P[umZ


# Chat Lock Configuration (SECRET_KEY required for both main and chat lock authentication if enabled)
CHAT_LOCK_ENABLED=false

# use channel id either with -100 or without it.
CHANNEL_PASSWORDS='{"1234566": "test123", "-100xxxxx": "test456"}'

# Session cookie lifetime (in minutes)
CHAT_LOCK_SESSION_LIFETIME=30


# ===========================
# 🛃 TOKEN VALIDATION FOR DOWNLOAD & STREAM ENDPOINT
# ===========================

# Enable/disable (default: true)
TOKEN_VALIDATION_ENABLED=false

# Token lifetime in seconds (default: 3600 = 60 minutes/1 hour)
TOKEN_LIFETIME=3600


# ===========================
# 🧩 OTHER CONFIGURATION
# ===========================

# Short URL length for generated links (alias id)
SHORT_URL_LEN=3
