</div>
<footer class="w-full my-4 py-4 bg-tranparent-300 xl:text-xl" style="margin-bottom: 0;">
    <div class="mx-auto text-center text-black max-w-screen-xl">
	    
        <div class="footer" style="border-radius: 20px 20px 0px 0px; box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px; box-sizing: border-box; padding:10px; position: relative; left:0; margin:0; width:100%; text-align: center; background: #F0F0F0; color: #000000;">
            <div class="made-with-love" style="margin-bottom: 5px;">
                Made with ❤ by <a href='https://webcoderhub.blogspot.com' target="_blank" style="color: #2196F3; text-decoration: none;">WebCoderHub</a>
            </div>
            <a href="https://github.com/ScripterSaurav" style="color: #212121; text-decoration: none; margin-right: 10px;"><i class="fab fa-github fa-lg"></i></a>
            <a href="https://youtube.com/channel/UCngpKD7UkgXICp32m_h-RQQ" style="color: #FF0000; text-decoration: none; margin-right: 10px;"><i class="fab fa-youtube fa-lg"></i></a>
            <a href="https://webcoderhub.blogspot.com" style="color: #212121; text-decoration: none; margin-right: 10px;"><i class="fas fa-blog fa-lg"></i></a>
            <div style="margin-top: 10px; color: #757575;">
                © <span id="getYear" style="color: #212121;"></span> •
                <bdi>
                    <a href="/" style="color: #2196F3; text-decoration: none;">TelegramIndexer</a>
                </bdi> • All rights reserved.
            </div>
        </div>
	    
    </div>
</footer>
<script>
	function toggleTheme() {
  element = document.documentElement;
  if (element.className == "light") {
    element.className = "dark";
    localStorage.theme = 'dark';
    } else {
      element.className = "light";
      localStorage.theme = 'light';
      }
}

function chatImgAlt() {
    document.getElementById('chatimg').src = 'https://s3.imgcdn.dev/nWNtu.jpg'
}

</script>
</body>

</html>
